// --------------------------------------------------------
// Footer Section
// --------------------------------------------------------

footer {
	background: $eggshell;
	padding: 3.2rem 0;

	.wrapper {
		text-align: center;
	}

	p {
		@include fontSize(11, 400);
		color: $address;
	}
	
	.siteLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1rem;

		a {
			@include fontSize(11, 400);
			color: $springblue;
			margin: 0 1.7rem;
		}
	}

}