.winners {
	background: $eggshell;
	padding: 4.8rem 0;
	.wrapper {
		padding: 0 2.5rem;
		// padding: 0 1rem;	
	}
	.winners--blurb {
		text-align: center;

		h1 {
			@include fontSize(24,700);
			color: $smokegrey;
			margin-top: 0;
		}

		h2 {
			@include fontSize(18, 400);
			font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
			color: $lightgrey;
			margin: 1.5rem 0;
		}
	}
}

.winnersList {
	// padding: 0 2.5rem;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3rem;

	li {
		margin: 0 1.5rem 3rem;
		width: calc(50% - 30px);

		&:nth-child(3), &:nth-child(4) {
			margin-bottom: 0;
		}

		// &:nth-child(4) {
		// 	.sml-blurb-container {
	
		// 	}
		// }

		.sml-img-container {
			width: 45%;
			
			img {
				height: auto;
				height: 100%;	
			}
		}
	}
}

.sml-card-container {
	background: $whitetext;
	    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
		
	.sml-blurb-container {
		width: 55%;
		padding: 2.4rem 2.7rem 2.4rem 3rem;

		// winner name
		h3 {
			@include fontSize(16, 700);
			color: $winnername;
			margin: 0 0 1rem;

		}
		//winner location
		h4 {
			@include fontSize(13, 400);
			color: $winnerloc;
			margin: 0 0 2rem;
		}
		p {
			@include fontSize(13, 400);
			font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
			line-height: 2rem;
			color: $winnerdesc;
			margin: 0 0 2rem;
		}
		h5 {
			@include fontSize(14, 400);
			color: $springblue;
			margin: 0;
		}
	}
} 

